<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:pattern {"slug":"tourister/banner"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"0px","bottom":"0px"}}},"layout":{"type":"default"}} -->
<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">
	
<!-- wp:pattern {"slug":"tourister/destination"} /-->

<!-- wp:pattern {"slug":"tourister/counter"} /-->

<!-- wp:pattern {"slug":"tourister/tours"} /-->

<!-- wp:pattern {"slug":"tourister/activity"} /-->

<!-- wp:pattern {"slug":"tourister/latest-news"} /-->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->