.ssbox {
	margin-top: 40px;
}

.ssbox .container-seos-slicebox {
	padding: 0;
	margin: 0;
}

.ssbox .container-seos-slicebox .clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* General Demo Style */
.ssbox .container-seos-slicebox {
	color: #444;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	font-size: 13px;
	font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    min-width: 320px;
}

.ssbox .container-seos-slicebox a {
	color: #000;
	text-decoration: none;
}

.ssbox .container-seos-slicebox h1,
.ssbox .container-seos-slicebox h2,
.ssbox .container-seos-slicebox h5 {
	margin: 20px 20px 30px 20px;
	font-size: 56px;
	color: #333;
	text-align: center;
	font-weight: 800;
	text-shadow: 1px 1px 3px #e0d1bc;
}

.ssbox .container-seos-slicebox h2 {
	margin-top: 30px;
	
}

.ssbox .container-seos-slicebox h1 span,
.ssbox .container-seos-slicebox h5 {
	font-size: 18px;
	display: block;
	font-style: italic;
	color: #997f5a;
	font-weight: 400;
	text-shadow: 0px 1px 1px #fff;
}

.ssbox .container-seos-slicebox .wrapper {
	position: relative;
	max-width: 840px;
	width: 100%;
	padding: 0 50px;
	margin: 0 auto;
}

/* Header Style */
.ssbox .container-seos-slicebox .codrops-top {
	line-height: 24px;
	font-size: 11px;
	background: #fff;
	background: rgba(255, 255, 255, 0.8);
	text-transform: uppercase;
	z-index: 9999;
	position: relative;
	font-family: Cambria, Georgia, serif;
	box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}

.ssbox .container-seos-slicebox .codrops-top a {
	padding: 0px 10px;
	letter-spacing: 1px;
	color: #333;
	display: inline-block;
}

.ssbox .container-seos-slicebox .codrops-top a:hover {
	background: rgba(255,255,255,0.6);
}

.ssbox .container-seos-slicebox .codrops-top span.right {
	float: right;
}

.ssbox .container-seos-slicebox .codrops-top span.right a {
	float: left;
	display: block;
}


.ssbox .container-seos-slicebox p.info {
	font-family: "Volkhov", serif;
	font-style: italic;
	color: #997f5a;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
	padding: 20px;
	display: block;
	clear: both;
	text-align: center;
	width: 100%;
	max-wdith: 440px;
	margin: 0 auto;
}



/* Slicebox Style */
.ssbox .container-seos-slicebox .sb-slider {
	margin: 10px auto;
	position: relative;
	overflow: hidden;
	width: 100%;
	list-style-type: none;
	padding: 0;
}

.ssbox .container-seos-slicebox .sb-slider li {
	margin: 0;
	padding: 0;
	display: none;
}

.ssbox .container-seos-slicebox .sb-slider li > a {
	outline: none;
}

.ssbox .container-seos-slicebox .sb-slider li > a img {
	border: none;
}

.ssbox .container-seos-slicebox .sb-slider img {
	max-width: 100%;
	display: block;
	width: 100%;
	height: 500px;
	margin: 0;
    padding: 0;
}

.ssbox .container-seos-slicebox .sb-description {
	padding: 20px;
	bottom: 10px;
	left: 10px;
	right: 10px;
	z-index: 1000;
	position: absolute;
	background: #CBBFAE;
	background: rgba(0,0,0,0.4);
	border-left: 4px solid rgba(0,0,0,0.7);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);	
	opacity: 0;
	color: #fff;
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	-o-transition: all 200ms;
	-ms-transition: all 200ms;
	transition: all 200ms;
}

.ssbox .container-seos-slicebox .sb-slider li.sb-current .sb-description {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);	
	opacity: 1;
}

.ssbox .container-seos-slicebox .sb-slider li.sb-current .sb-description:hover {
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);	
	background: rgba(0,0,0, 0.7);
}

.ssbox .container-seos-slicebox .sb-perspective {
	position: relative;
}

.ssbox .container-seos-slicebox .sb-perspective > div {
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility : hidden;
	-moz-backface-visibility : hidden;
	-o-backface-visibility : hidden;
	-ms-backface-visibility : hidden;
	backface-visibility : hidden;
}

.ssbox .container-seos-slicebox .sb-side {
	margin: 0;
	display: block;
	position: absolute;
	-moz-backface-visibility : hidden;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

/*****************
	* Custom
**************/

.ssbox .container-seos-slicebox .shadow {
	width: 100%;
	height: 168px;
	position: relative;
	margin-top: -110px;
	background-size: 100% 100%; /* stretches it */
	z-index: -1;
	display: none;
}

.ssbox .container-seos-slicebox .sb-description h3 {
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	color: #eee;
}

.ssbox .container-seos-slicebox .sb-description h3 a {
	color: #4a3c27;
	text-shadow: 0 1px 1px rgba(255,255,255,0.5);
}

.ssbox .container-seos-slicebox .nav-arrows {
	display: none;
}

.ssbox .container-seos-slicebox .nav-arrows a {
	width: 42px;
	height: 42px;
	background: rgba(0,0,0,0.7);
	position: absolute;
	top: 44%;
	left: 2px;
	cursor: pointer;
	margin-top: -21px;
	opacity: 0.9;
	box-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

.ssbox .container-seos-slicebox .nav-arrows a span {
    line-height: 44px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}

.ssbox .container-seos-slicebox .nav-arrows a:first-child{
	left: auto;
	right: 2px;
	background-position: top right;
}

.ssbox .container-seos-slicebox .nav-arrows a:hover {
	opacity: 1;
}

.ssbox .container-seos-slicebox .nav-dots {
	text-align: center;
	position: absolute;
	bottom: -5px;
	height: 30px;
	width: 100%;
	left: 0;
	display: none;
}

.ssbox .container-seos-slicebox .nav-dots span {
	display: inline-block;
	width: 32px;
	height: 16px;
	margin: 3px;
	background: #444;
	cursor: pointer;
	box-shadow: 
	0 1px 1px rgba(255,255,255,0.6), 
	inset 0 1px 1px rgba(0,0,0,0.1);
}

.ssbox .container-seos-slicebox .nav-dots span.nav-dot-current {
	box-shadow: 
	0 1px 1px rgba(255,255,255,0.6), 
	inset 0 1px 1px rgba(0,0,0,0.1), 
	inset 0 0 0 3px #6AB0C4,
	inset 0 0 0 8px #6AB0C4;
}

.ssbox .container-seos-slicebox .nav-options {
	width: 70px;
	height: 30px;
	position: absolute;
	right: 70px;
	bottom: 0px;
	display: none;
}

.ssbox .container-seos-slicebox .nav-options span {
	width: 30px;
	height: 30px;
	background: #cbbfae url(../images/options.png) no-repeat top left;
	text-indent: -9000px;
	cursor: pointer;
	opacity: 0.7;
	display: inline-block;
	border-radius: 50%;
}

.ssbox .container-seos-slicebox .nav-options span:first-child{
	background-position: -30px 0px;
	margin-right: 3px;
}

.ssbox .container-seos-slicebox .nav-options span:hover {
	opacity: 1;
}

@media screen and (max-width: 900px) {
	.ssbox .container-seos-slicebox .sb-slider img {
		max-width: 100%;
		display: block;
		width: 100%;
		height: 203px;
		margin:0;
		padding:0;
	}
	.ssbox .container-seos-slicebox .sb-slider {
	    width: 300px;
	}
	.ssbox .container-seos-slicebox .sb-description {
	    padding: 0 10px;
	}
	.ssbox .container-seos-slicebox .sb-description h3 {
	    font-size: 12px;
		line-height: 10px;
	}
	.ssbox .container-seos-slicebox .sb-description {
		line-height: 10px;		
	}
}